.ls {
    &-mvw {
        &-20 {
            max-width: 20vw;
        }

        &-30 {
            max-width: 30vw;
        }

        &-40 {
            max-width: 40vw;
        }

        &-50 {
            max-width: 50vw;
        }

        &-60 {
            max-width: 60vw;
        }

        &-70 {
            max-width: 70vw;
        }

        &-80 {
            max-width: 80vw;
        }

        &-90 {
            max-width: 90vw;
        }

        &-100 {
            max-width: 100vw;
        }
    }
}
