/*
    Components - Products
*/

.ls {
    &-product-link {
        height: 280px;
        width: 180px;
        background-color: white;
        padding: 10px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.18) 11px 14px 10px -16px;
    }

    &-product-view {
        max-width: 60vw;
        width: 1000px;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.18) 11px 14px 10px -16px;
    }
}
