/*
    Components - Wizzard
*/

.ls {
    &-wizzard {
        &-step {
            border-radius: 100%;
            background-color: $secondary;
            color: $neutral-10;
            width: 32px;
            height: 32px;
            padding-top: 3px;
            text-align: center;

            &.done {
                background-color: $primary;
            }

            &.active {
                background-color: $primary-light;
            }
        }
    }
}