//colors
$primary: #ff8b07;
$primary-light: #ffa807;
$primary-darker: #ee8105;
$secondary: #2a2a2a;
$secondary-light: #2c2c2c;
$secondary-darker: #242424;

//brand-colors
$brand-primary: #227ece;
$brand-success: #4fd56e;
$brand-danger: #e33232;
$brand-warning: #ffe53b;

//neutral-colors;
$neutral-0: #000;
$neutral-1: #222;
$neutral-2: #444;
$neutral-3: #555;
$neutral-4: #666;
$neutral-5: #777;
$neutral-6: #888;
$neutral-7: #999;
$neutral-8: #bbb;
$neutral-9: #ddd;
$neutral-10: #fff;

//fonts
$roboto: "roboto", sans-serif;

//font-size
$text-sm: 12px;
$text-m: 14px;
$text-body: 16px;
$text-l: 18px;
$text-h6: 1rem;
$text-h5: 1.25rem;
$text-h4: 1.5rem;
$text-h3: 1.75rem;
$text-h2: 2rem;
$text-h1: 2.5rem;
