@media screen and (max-width: 1000px) {
    .navbar-brand {
      display: none;
    }
  }


.ls-bg-dark {
    background-color: #2A2A2A;
}

.ls-nav-text-input {
    background-color: #2A2A2A;
    border-color: #FF8B07;
    color: #FF8B07;
}

.ls-nav-text-input:focus {
    background-color: #303030;
    border-color: #FF8B07;
    color: #FF8B07;
}

.ls-navbar {
    padding: 5px;
    color: #FF8B07;
}

.ls-navbar-search {
    width: 100%;
}

.navbar-brand {
    padding-bottom: 0;
}

.logo {
    vertical-align: baseline;
}

.ls-navbar-icons {
    color: #FF8B07;
    font-size: 34px;
    margin-right: 25px;
}

.ls-flex {
    display: flex;
    align-items: center;
    width: 100%;
}

.ls-flex-end {
    justify-content: end;
    padding-right: 25px;
}

.ls-sidemenu {
    height: calc(100% - 61px);
    margin-top: 61px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.81);
    overflow-x: hidden;
    transition: 0.4s;
    overflow: hidden;
}

.ls-sidemenu-content {
    width: 250px;
    background-color: white;
    height: 100%;
}

.ls-sidemenu-content a {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    color: #262626;
    font-size: 25px;
}

.ls-filtros {
    height: 100%;
    margin-right: 40px;
}

.container, .container-sm {
    max-width: 940px;
}
.container, .container-sm, .container-md {
    max-width: 1120px;
}
.container, .container-sm, .container-md, .container-lg {
    max-width: 1460px;
}
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1540px;
}

.site-login {
    text-align: center;
    max-width: 600px;
    margin: auto;
    width: 60%;
    background-color: #FF8B07;
    border-radius: 8px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.ls-bg-dark {
    background-color: #2A2A2A;
}

.ls-mb-10 {
    margin-bottom: 6rem;
}

.ls-btn-login {
    background-color: #262626;
    border-color: #262626;
    max-width: 200px;
    width: 100%;
}

.ls-btn-login:hover {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}

.ls-btn-primary {
    background-color: #FF8B07;
    border-color: #FF8B07;
    color: white;
    max-width: 200px;
    width: 100%;
}

.ls-btn-primary:hover {
    background-color: #fcac00;
    border-color: #fcac00;
    color: white;
}

.ls-text-primary {
    color: #FF8B07;
}

.ls-preview {
    border: 2px solid #ff8b07;
    border-radius: 8px;
    width: fit-content;
    padding: 20px;
    margin: auto;
}

.ls-preview-row {
    font-size: 18px;
}

